.noorganization
  position                  absolute
  left                      50%
  top                       50%
  transform                 translate(-50%, -50%)
  .gotogithub
    margin-top              40px


.organizationlist
  width                     600px

.organization
  display                   flex
  .avatar
    height                  24px
    width                   24px
  .nameAndRole
    display                 flex
    .name
      max-height            300px
    .role
      color                 #8E96A0
  .button
    margin-right            0px

.inviteadmin
  margin-top                100px

.orglistbutton
  margin-top                30px

.organizations
  height                    calc(100vh - 60px)
  background                linear-gradient(to bottom, #fff 25%, #e6f2ff)
  padding-top               0

.bgimage
  width                     100%
  height                    auto
  display                   block
  position                  fixed
  bottom                    0
