.loading
  background                #4C5662
  width                     100%
  height                    calc(100vh - 60px)
  z-index                   10
  opacity                   .8

.box
  position                  absolute
  margin                    auto
  border                    1px solid transparent
  border-radius             4px
  width                     400px
  height                    100px
  background                #FFF
  text-align                center
  top                       0
  left                      0
  bottom                    0
  right                     0
  label
    margin                  41px
    display                 inline-block