@import '~components/colors/color.styl'

.step
  height                    44px
  width                     400px
  text-align                center
  color                     $text-color-sec
  border-bottom             1px solid $list-border-color
  margin                    0px auto 40px
  padding-top               60px
