.selectrepositories
  height                    calc(100vh - 60px)
  background                linear-gradient(to bottom, #fff 25%, #e6f2ff)
  padding-top               0

.backbutton
  margin                    40px auto

.bgimage
  width                     600px
  height                    auto
  display                   block
  position                  fixed
  bottom                    0

.buttonwrapper
  margin-top                30px
  .button
    margin-top              10px