@import '~components/colors/color.styl'

.userheader
  cursor                    pointer
  display                   flex
  font-size                 14px
  color                     white
  height                    60px
  width                     100%
  background                $header-color
  align-items               center
  .logo
    width                   124px
    height                  24px
    margin-left             20px
  .links
    display                 flex
    margin-left             auto
    margin-right            30px
    div
      margin-right          15px
