$green                      = #00C69D
$blue                       = #68AFFF
$pink                       = #F37DA4


$header-color               = #4C5662
$text-color                 = #6B737D
$text-color-sec             = #8E96A0

$small-sec-button-border-color = #D6D6D6
$small-sec-button-text-color   = #788390

$list-border-color          = #EEEEEE

$input-border-color         = #D7DDE5
$input-color                = #4C5662
$input-placeholder-color    = #8E96A0

$footer-text-color          = #8B8D8F
$footer-bg-color            = #F6F7F8

$landing-box-data-color     = #7E868E
$selected-toggle-bg-color   = #F6F7F8
$repository-setup-bg-color  = #F6F7F8
